.cards-page {
    margin-top: 85px;
}

.cards-page .action-btn.btn.btn_blue {
    display: none;
}

.cards-page .section-title-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.cards-page .back-link {
    order: 2;
}

.cards-page .section-title {
    order: 1;
}

@media(min-width:576px) {
    .cards-page .back-link {
        grid-area: link;
        grid-row: 1;
        grid-column: 1;
        margin-bottom: 32px;
    }

    .cards-page .section-title {
        grid-area: title;
        grid-row: 2;
        grid-column: 1;
        margin: 0;
    }

    .cards-page .action-btn.btn.btn_blue {
        grid-area: btn;
        display: block;
        grid-row: 2;
    }

    .cards-page .section-title-wrap {
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "link link""title btn";
        margin-bottom: 71px;
    }

    .cards-page .tutors-card.give-feedback {
        display: none;
    }
}

@media(min-width:992px) {
    .cards-page {
        margin-top: 200px;
    }
}