.feedback-page  .tutors-card {
    display: grid !important;
  }

.cards-page .action-btn.btn.btn_blue {
    display: none;
}

.cards-page .section-title-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.feedback-page .header {
    background: white;
    box-shadow: 0 4px 4px 0 rgba(37, 36, 37, 0.04);
}

@media(min-width:576px) {

    .cards-page .action-btn.btn.btn_blue {
        grid-area: btn;
        display: block;
        grid-row: 2;
    }

    .cards-page .tutors-card.give-feedback {
        display: none;
    }
}