@font-face {
  font-family: "Venus Rising";
  src: url(../fonts/venus-rising-rg.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #232523;
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #232523;
}

menu,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: 20px;
}

.container {
  max-width: 1174px;
  margin: 0 auto;
}

.container-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "menu logo";
  padding: 0 20px;
  max-width: 1174px;
  margin: 0 auto;
  column-gap: 47px;
}

.content-container {
  max-width: 1174px;
  margin: 0 auto;
  position: relative;
}

.bg-dark {
  background-color: #0B2235;
}

.bg-dark .section-title {
  color: #FD460E;
}

.page-wrapper {
  margin-top: 85px;
}

.btn {
  max-width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: rgba(11, 34, 53, .9);
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  font-weight: 700;
  font-size: 10px;
  box-sizing: border-box;
  border: none;
  transition: background-color 300ms;
}

.btn-trial {
  margin-top: 60px;
}

.btn:hover{
  background: #FD460E;
}

.btn-orange {
  background: #FD460E;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.title {
  font-family: "Venus Rising", sans-serif;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.section-title {
  font-family: "Venus Rising";
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #232523;
  text-transform: uppercase;
  grid-area: title;
  grid-row: 2;
  grid-column: 1;
  margin: 0;
  margin-bottom: 20px;
}

.more-info-link {
  text-decoration: underline;
  color: #297abf;
  font-size: 24px;
  cursor: pointer;
}

.section-title-wrap {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.section-title-wrap .more-info-link {
  display: none;
}

.btn.btn_light {
  background: #fff;
  border: 2px solid rgba(11, 34, 53, .7);
  color: #0b2235;
}

.btn.btn_blue {
  border: 2px solid #297abf;
  color: #297abf;
  background-color: #fff;
}

.btn.btn_warn {
  background-color: #FD460E;
}

.back-link {
  color: #297abf;
  font-size: 14px;
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.back-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #297abf;
  width: 33px;
}

@media(min-width:576px) {
  .btn {
    width: 100%;
    max-width: initial;
    padding: 20px 0;
    font-size: 18px;
  }

  .back-link {
    font-size: 24px;
    margin-bottom: 32px
  }

  .back-link::before {
    width: 26px;
    height: 16px;
    background-repeat: no-repeat;
    margin-right: 24px;
  }

  .back-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #297abf;
    width: 70px;
  }

  .section-title {
    font-size: 28px;
    line-height: 34px;
  }

  .action-btn {
    width: 278px;
  }
}

@media screen and (min-width:992px) {

  .page-wrapper {
    margin-top: 85px;
  }

  .section-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }

  .btn {
    max-width: 577px;
    font-size: 18px;
    line-height: 21px;
    padding: 19.5px 0;
  }
}

@media screen and (min-width:1024px) {
  .section-title-wrap .more-info-link {
    display: block;
  }
}

.slider {
  padding-bottom: 140px;
  margin-bottom: 0  ;
  background-image: url(../img/intro-background.png);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  align-items: center;
}

.title {
  font-size: 20px;
  width: 280px;
  text-align: center;
  line-height: 30.8px;
}

.logo-title{
  color: #FD460E;
  font-size: 29px;
}

.slide__btn{
  margin-top: 30px;
  max-width: 290px;
  width: 100%;
}

.header-card__mob {
  margin-top: 20px;
}


@media screen and (min-width:576px) {
.slide {
    position: relative;
    max-width: 1176px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .title {
    font-size: 32px;
    line-height: 50px;
    width: 550px;
  }
  .logo-title{
    font-size: unset;
  }
}

@media screen and (min-width:992px){
.slider {
    height: 80vh;
    padding: 0 20px 140px 20px;
  }
  
  .title {
    position: absolute;
    font-size: 48px;
    width: 926px;
    line-height: 70px;
    top: 233px;
    left: 0;
    text-align: start;
  }
  
  .subtitle {
    position: absolute;
    top: 400px;
    left: 0;
    font-size: 18px;
  }

  .slide__btn{
    position: absolute;
    top: 435px;
    left: 0;
  }
}

@media screen and (max-width: 576px) {
  .subtitle {
    display: none;
  }

  .slider {
    padding: 0 20px;
  }
}

@media(min-width:576px) {
  section {
    padding: 30px 20px;
  }
}

@media screen and (min-width:992px) {
  section {
    padding: 60px 30px;
  }
}


.btn-wrap {
  display: none;
}

@media(min-width:992px) {

  .btn-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .btn-wrap .btn {
    width: 100%;
  }

  .btn.mob_btn {
    display: none;
  }
}

/* For scroll to center section */
.anchor{
  display: block;
  height: 120px;
  margin-top: -120px;
  visibility: hidden;
}

.callback-form .section-title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 880px;
  margin: 0 auto 40px;
}

.form .input-wrapper{
  display: flex;
}

.form .input-wrapper label{
  width: 50%;
}

.form .input-wrapper label:first-child{
  margin-right: 20px;
}

.form input,
.form select {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #0b2235;
  font-size: 11px;
  font-family: Roboto, sans-serif;
  line-height: 13px;
  color: #232523;
  font-weight: 400;
  padding-left: 20px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .0509803922);
}

.form input:focus {
  border: 1px solid #0b2235;
  outline: 0;
}

.form input.invalid {
  border: 1px solid rgba(238, 66, 66, .7);
}

.form input.invalid::placeholder {
  color: #fd460e;
}

.form textarea[name=comment] {
  border: 1px solid #0b2235;
  font-family: Roboto, sans-serif;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 11px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .0509803922);
  color: #232523;
  font-weight: 400;
  outline: 0;
}

.form .custom-select {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #0b2235;
  font-size: 11px;
  font-family: Roboto, sans-serif;
  line-height: 32px;
  color: #232523;
  font-weight: 400;
  padding-left: 20px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .0509803922);
}

.form .custom-select.invalid {
  border: 1px solid rgba(238, 66, 66, .7);
}

.form .custom-select-required {
  position: relative;
}

.form .custom-select-required::before {
  content: "*";
  position: absolute;
  top: -28px;
  right: 5px;
  color: rgba(253, 70, 14, .7);
  font-size: 15px;
}

.form .from__btn {
  margin-top: 10px;
}

.form .btn {
  border: none;
  width: 100%;
}

.form .nice-select-dropdown {
  width: 100%;
}

.form .nice-select:after {
  border: none;
  background-image: url(../img/faq-arrow.svg);
  width: 10px;
  height: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(0);
  transform-origin: 50% 50%;
}

.form .nice-select.open:after {
  transform: rotate(180deg);
}

.form .required {
  position: relative;
}

.form .required::after {
  content: "*";
  position: absolute;
  top: -0;
  right: 5px;
  color: rgba(253, 70, 14, .7);
  font-size: 15px;
}

@media(min-width:576px) {
  .form input,
  .form select {
    height: 40px;
    font-size: 16px;
  }

  .form .custom-select{
      font-size: 14px;
  }

  .form textarea[name=comment] {
    font-size: 16px;
  }

  .form .nice-select {
    height: 52px;
    font-size: 16px;
    line-height: 50px;
  }

  .form .nice-select:after {
    width: 20px;
    height: 17px;
    margin-top: -7px;
  }

  .form .nice-select .option {
    line-height: 60px;
  }
}

@media(min-width:992px) {
  .form {
    gap: 20px;
  }

  .form input,
  .form select {
    display: block;
    height: 52px;
    font-size: 14px;
    line-height: 15px;
  }

  .form label[for=name] {
    grid-area: name;
  }

  .form textarea[name=comment] {
    grid-area: text;
    height: 120px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 40px;
    resize: none;
  }

  .form .from__btn {
    grid-column: 2/3;
  }

  .form .nice-select {
    font-size: 14px;
  }

  .form .nice-select:after {
    width: 10px;
    height: 8px;
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
  border-top: 1px solid #0B2235;
}

.iphone-mb-footer {
  padding-bottom: 100px;
}

.footer .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer .col{
  margin-bottom: 15px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #232523;
  margin-bottom: 14px;
}

.footer__list {
  font-size: 14px;
  line-height: 16px;
  display: grid;
}

.footer__list li {
  padding: 8px 0;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.footer__copyright {
  text-align: center;
  font-size: 11px;
  position: relative;
}

.social-ico {
  display: block;
}

.footer .logo-mobile{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
}

.footer .logo-desktop{
  display: none;
}

.footer__logo{
  width: 30px;
  height: 40px;
}

.footer .social-ico svg{
  width: 16px;
  height: 16px;
}

@media(min-width:576px) {
  .footer {
    padding-top: 31px;
  }

  .footer__btn{
    width: 200px;
    font-size: 12px;
  }


  .footer__logo{
    width: 60px;
    height: 70px;
  }

  .footer__list {
    font-size: 20px;
  }

  .footer__list li a {
    font-size: 16px;
    line-height: 21px;
    transition: 300ms;
  }

  .footer__list li a:hover{
    color: #FD460E;
  }

  .footer__title {
    font-size: 20px;
    margin-bottom: 20px;
  }


  .footer .social-ico {
    width: 32px;
    height: 32px;
  }

  .footer .social-ico svg{
    width: 32px;
    height: 32px;
  }

  .footer .social-ico path{
    transition: 300ms;
  }

  .footer .social-ico svg:hover path{
    fill: #FD460E;
  }

  .footer__copyright {
    margin-top: 40px;
    font-size: 16px;
  }
}

@media(min-width:992px) {
  .footer {
    padding: 40px;
  }
  
  .footer .row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    text-align: start;
  }

  .footer .logo-mobile{
    display: none;
  }

  .footer .logo-desktop{
    display: block;
  }

  .footer__title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 28px;
    padding: 0;
  }

  .footer__list {
    gap: 10px;
  }

  .footer__list li {
    padding: 0;
    border-bottom: none;
  }

  .footer__btn{
    width: 280px;
    height: 60px;
    font-size: 15px;
  }

  .footer__copyright {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-top: 20px;
  }

  .footer__social {
    gap: 15px;
  }
}

.header-card-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 60px;
}

.header-card {
  width: 100%;
  border: 1px solid rgba(11, 34, 53, .2);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 11px 25px;
  background-color: #fff;
}

.header-card__arrow {
  width: 14px;
  height: 12px;
  display: inline-block;
  background-image: url(../img/header-card-arrow.svg);
  background-repeat: no-repeat;
  transition: .5s;
}

.header-card.active .header-card__arrow {
  transform: rotate(180deg);
  transition: .5s;
}

.header-card.active .header-card__text {
  margin-top: 10px;
}

.header-card__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-card__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #297abf;
  width: 160px;
}

.header-card__text {
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  max-height: 0;
  transition: .5s;
}

.header-card__desktop {
  display: none;
}

ul.header-card__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media(min-width:576px) {
  .mob_block {
    display: block;
  }

  .header-card {
    width: 100%;
    border: 1px solid #232523;
    padding: 29px 25px;
  }

  .header-card__title {
    font-size: 20px;
    line-height: 23px;
    width: 100%;
  }

  .header-card__text {
    font-size: 18px;
    line-height: 21px;
  }

  .header-card.active .header-card__text {
    margin-top: 20px;
  }
}

@media(min-width:992px) {
  .mob_block {
    display: none;
  }

  .header-card__desktop {
    display: block;
  }

  .header-card__mob {
    display: none;
  }

  .header-card {
    position: relative;
    width: 360px;
    height: 230px;
    box-shadow: 0 8px 20px rgba(11, 34, 53, .15);
  }

  .header-card__text {
    margin-top: 20px;
    line-height: 23px;
    overflow: hidden;
    max-height: fit-content;
    transition: .5s;
  }

  .header-card__title {
    font-size: 24px;
    width: 268px;
  }

  .header-card__arrow {
    position: absolute;
    width: 24px;
    height: 18px;
    top: 20px;
    right: 15px;
    background-image: url(../img/header-card-desc-ico.svg);
  }

  .header-card-wrap {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 150px;
  }
}

.privacy-policy-link {
  position: absolute;
  top: 0;
  left: 10%;
  text-decoration: underline;
}

@media (max-width: 992px) {

  .privacy-policy-link {
    position: relative;
    left: 0;
    color: #0B2235;
    font-size: 14px;
  } 
}