.popup.mentor-info-popup__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.mentor-info-popup__title {
    font-weight: 600;
    line-height: 2;
}

.mentor-info-popup__img {
    width: 60px;
}

.mentor-info__block {
    margin-bottom: 20px;
}

.mentor-info__block p {
    line-height: 18.75px;
}

.mentor-info-popup__bottom .mentor-info__course-title{
    color: #FD460E;
    margin-bottom: 5px;
}

.mentor-info-popup__top {
    margin-bottom: 15px;
}

.mentor-info-popu__name {
    margin-top: 9px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}

.popup.mentor-info-popup .tutors-card__rate {

    margin-top: 35px;
}

.mentor-info-popup__wrapper{
    display: flex;
    align-items: center;
}

.mentor-info-popup__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

@media(min-width:576px) {
    .mentor-info-popup__bottom .col:last-child {
        grid-row: 2;
    }
}

@media(min-width:992px) {
    .mentor-info-popup__img {
        width: 100px;
        height: 100px;

    }

    .mentor-info-popup__top {
        margin-bottom: 20px;
    }

    .mentor-info-popu__name {
        line-height: 38px;
        margin-top: 0;
    }

    .popup.mentor-info-popup .tutors-card__rate {
        margin-top: 20px;
    }
}