.popup select[name=tutor] {
    grid-area: tutor;
}

.popup label[for=rate] {
    grid-area: rate;
}

.popup label[for=social] {
    grid-area: social;
}

.popup .popup-body {
    max-width: 100%;
    border: none;
    border-radius: 0;
}

.popup .popup__title {
    font-family: "Venus Rising", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #232523;
    margin-bottom: 40px;
}

.popup .form {
    display: flex;
    flex-direction: column;
}

.popup .form .form__btn {
    margin-top: 20px;
}

.popup .back-link {
    display: block;
    margin-bottom: 40px;
}

.popup .form-rate {
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #0b2235;
    padding-left: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .0509803922);
    display: flex;
    align-items: center;
    position: relative;
}

@media(min-width:576px) {
    .popup .form-rate {
        height: 52px;
    }

    .popup .popup__title{
        font-size: 24px;
    }
}

@media(min-width:992px) {
    .popup {
        background-color: rgba(0, 0, 0, .5);
        padding-top: 50px;
        z-index: 99999;
    }

    .popup .popup__close {
        display: block;
        width: 20px;
        height: 20px;
        right: 40px;
        top: 40px;
    }

    .popup select[name=tutor] {
        grid-area: tutor;
    }

    .popup .form textarea[name=comment] {
        height: auto;
        margin-bottom: 0;
    }

    .popup .popup-body {
        max-width: 700px;
        border: 1px solid #0b2235;
        border-radius: 10px;
        height: auto;
    }

    .popup .form {
        display: grid;
        grid-template-areas: "name name course""phone email tutor""text text rate""text text social";
        margin-bottom: 0;
    }

    .popup .back-link {
        display: none;
    }

    .popup .popup__title {
        text-align: center;
    }
}

